<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Email Authentication
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- show if user logged in -->
  <div *ngIf="isUserLoggedIn">
    <ion-list>
      <ion-item>
        <ion-label>Email: {{userData.email}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Email Verified: {{userData.emailVerified}}</ion-label>
        <button item-right ion-button (click)="verifyEmail()" *ngIf="!userData.emailVerified">Verify</button>
      </ion-item>
    </ion-list>
    <button ion-button clear small block (click)="logout()">logout</button>
  </div>
  <!-- show if user not loggedin -->
  <div *ngIf="!isUserLoggedIn">
    <ion-list>
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input type="text" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="login()">Login</button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="register()">Register</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>